* {
    margin: 0;
    padding: 0;
}

.tm {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: brown;
}

.firsth1 {
    text-align: center;
    font-family: "Berkshire Swash", serif;
    font-size: 80px;
    color: palevioletred;
    margin: 10px;

}

.firstp {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 15px;
    color: #6a5b5b;
}

ul {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    word-spacing: 20px;
    color: #6a5b5b;
}

li {
    display: inline;

}

header {
    background-color: white;
    padding: 50px;
}

body {
    background-color: rgb(215, 159, 169);

}

.secondh1 {
    margin: 10px;
    padding: 15px;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}

.secondp {
    font-family: "Open Sans", sans-serif;
    padding: 25px;
    color: #999;
}

.firsth2 {
    font-family: "Open Sans", sans-serif;
    padding: 25px;
}

.thirdp {
    font-family: "Open Sans", sans-serif;
    padding: 25px;
    color: #999;
}

.secondh2 {
    font-family: "Open Sans", sans-serif;
    padding: 25px;
}

.fourthp {
    font-family: "Open Sans", sans-serif;
    padding: 25px;
    color: #999;
}

.div1 {
    width: 900px;
    height: 850px;
    background-color: white;
    display: block;
    margin: 70px auto;
}